{% extends "low_flows/base.html" %}
{% load tethys_gizmos %}
{%load tethys_gizmos staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% gizmo load_watershed %}
  {% gizmo zoom_watershed %}
  <li><h3>Select measures of low flow to display:</h3></li>
  {% gizmo show_7q10 %}
  {% gizmo show_25 %}
  {% gizmo custom_amt %}
  <li><h3>Turn on Additional Options:</h3></li>
  {% gizmo show_wq %}
  {% gizmo show_rtq %}
{% endblock %}

{% block app_content %}
  {% gizmo watershed_map %}
  {% gizmo plotly_view_input %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>Select a watershed and hit submit to zoom in and view warnings for low flows. To easily delineate a watershed and make it available as a resource for your app, try the EPA WATERS Services App available on <a href="https://apps.hydroshare.org/apps/watershed-delin/">Hydroshare.</a> (You will need an account to use the app).</p>
          <p>Then select measures of low flow statistics for the reaches in your watershed from the predefined measures or enter in a custom threshold for comparison.</p>
          <p>For a more detailed tutorial see: <a href="">Low Flow Tutorial</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'low_flows/css/map.css' %}" rel="stylesheet"/>
{% endblock %}