{% extends "low_flows/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>About the Low Flow Warning System</h1>
  	<p>The purpose of this application is to demonstrate how visualizations of long-range National Water Model (NWM) forecasts and retrospective data can be used to help alert water users/managers of potential low flow conditions. The app has provides a number of services, including: 
  		<li>allowing a user to put forecasted flows in the context of ecologoical or hydrologic streamflow needs</li>
  		<li>visualization of low flow conditions throughout a stream network or watershed</li>
  		<li>connect streamflow data to real-time water quality data, which are particularly relevant in low flow conditions</li>
  <h2>How to Use the Application:</h2>
    <h3>Load Watershed</h3>
    	<p>For demonstration purposes, several watersheds are available. In the future, a user will be able to add their own watershed. The chosen watershed is used to subset the NHD streams (higher than stream order of 3).</p>
    <h3>Choose low flow threshold</h3>
    	<p>Currently, there are three pre-defined thresholds for low flows: 5%, 25%, 7Q2, and 7Q10. These definitions of low flow are based on historical streamflow data, and all of them are calculated on a monthly basis (e.g. the 25th percentile in June reflects only mean daily streamflow values from the retrospective dataset during the month of June.</p>
    	<p>The 25% and 5% percentiles are common thresholds for "low flows" and "very low flows", respectively. One implementation of these thresholds is in the USGS California Water Science Center <a href="https://ca.water.usgs.gov/data/drought/drought-impact.html">visualization of stream gage observations.</a></p>
    	<p>The 7Q2 and 7Q10 thresholds are also commonly used by organizations such as the USGS. From the <a href="https://pubs.usgs.gov/sir/2008/5126/section3.html">USGS Scientific Investigations Report</a>, the 7Q2 is the lowest value of "mean discharge computed over any 7-consecutive days during the annual period. A probability distribution is fit to the annual series of 7-day minimums, and the 7Q2 statistic is the annual 7-day minimum flow with a 2-year recurrence interval (nonexceedance probability of 50 percent), although the 7Q10 statistic is the annual 7-day minimum flow with a 10-year recurrence interval (nonexceedance probability of 10 percent)." For this demonstration, the 7Q2 and 7Q10 were calculated using a log-Pearson Type III Distribution.</p>
    	<p>The user can also specify a custom threshold (based on known or desired streamflow requirements, ecological/habitat needs, etc.). An important caveat with this that the custom threshold will be applied to all reaches within the chosen watershed, which may not be appropriate given the potential for unique/different characteristics of individual reaches.</p>
	<h3>Visualize warnings for forecasted low flows</h3>
		<p>Each of the reaches are highlighted according to whether or not the streamflow during the long-range forecast falls below the specified low flow threshold.</p>
	<h3>View long-range forecast</h3>
		<p>The long-range forecast for any reach can be viewed by selecting the reach and clicking the "View Forecast" button in the popup.</p>
	<h3>View real-time water quality data</h3>
		<p>By turning on the real-time water quality data, a layer with USGS gages (with real-time discharge/water quality data) that correspond to reaches in the National Water Model will be added to the map. A user may click on any of these gages to view most recent gage readings. This information is helpful in providing a more holistic view of streamflow needs (as low flows and water quality issues are closely related).</p> 	 

{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
{% endblock %}